.home{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.home h1{
    text-align: center;
    margin-top: 40px;
}

.ultimas-vendas,
.estoques-baixos{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.ultimas-vendas{
    overflow-x: auto;
}

.linha-ultima-venda,
.cabecalho-ultima-venda,
.cabecalho-produtos-estoque-baixo,
.linha-produtos-estoque-baixo{
    display: grid;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--border);
}

.linha-ultima-venda,
.cabecalho-ultima-venda{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 800px;
}

.cabecalho-produtos-estoque-baixo,
.linha-produtos-estoque-baixo{
    grid-template-columns: 2fr 1fr;
}

.linha-ultima-venda span:nth-child(2),
.cabecalho-ultima-venda span:nth-child(2){
    text-align: center;
}

.linha-ultima-venda span:nth-child(3),
.cabecalho-ultima-venda span:nth-child(3){
    text-align: center;
}

.linha-ultima-venda span:nth-child(4),
.cabecalho-ultima-venda span:nth-child(4){
    text-align: center;
}

.cabecalho-produtos-estoque-baixo span:nth-child(2),
.linha-produtos-estoque-baixo span:nth-child(2){
    text-align: center;
}

.estoques-baixos h3,
.ultimas-vendas h3{
    text-align: center;
    padding: 50px 0 40px;
    font-size: 17px;
    color: var(--primary);
}