*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-produtos{
    min-height: 100vh;
    padding: 30px;
}

.container-produtos h1{
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.tabela-produtos{
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    table-layout: fixed;
    overflow: hidden;
}

.tabela-produtos th:nth-child(1),
.tabela-produtos td:nth-child(1){
    width: 14%;
}

.tabela-produtos th:nth-child(2),
.tabela-produtos td:nth-child(2){
    width: 10%;
}

.tabela-produtos th:nth-child(3),
.tabela-produtos td:nth-child(3){
    width: 12%;
}

.tabela-produtos th:nth-child(4),
.tabela-produtos td:nth-child(4){
    width: 13%;
}

.tabela-produtos th:nth-child(5),
.tabela-produtos td:nth-child(5){
    width:8%;
}

.tabela-produtos th:nth-child(6),
.tabela-produtos td:nth-child(6){
    width: 23%;
}

.acoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.tabela-container{
    width: 100%;
}

.tabela-produtos th{
    background-color: #1760c0;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.tabela-produtos td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #111;
    text-align: center;
    vertical-align: middle;
}

.tabela-produtos tr:hover{
    background-color: #eee;
}

.input-busca{
    width: 300px;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.input-busca:focus{
    border-color: #1760c0;
    box-shadow: 0 0 5px rgba(23, 96, 192, 0.2);
}

.input-busca::placeholder{
    color: #999;
}